{
	"TargetName": "AssetRegistryHelper",
	"Platform": "Win64",
	"Configuration": "Development",
	"TargetType": "Program",
	"Architecture": "",
	"Project": "../../DeadByDaylight.uproject",
	"Launch": "$(ProjectDir)/Binaries/Win64/AssetRegistryHelper.exe",
	"Version": 
	{
		"MajorVersion": 4,
		"MinorVersion": 25,
		"PatchVersion": 1,
		"Changelist": 0,
		"CompatibleChangelist": 13144385,
		"IsLicenseeVersion": 0,
		"IsPromotedBuild": 0,
		"BranchName": "++UE4+Release-4.25",
		"BuildId": "8fd5b958-d922-4d4b-a660-2e69b4b9d286",
		"BuildVersion": ""
	},
	"BuildProducts": [
		{
			"Path": "$(ProjectDir)/Binaries/Win64/AssetRegistryHelper.exe",
			"Type": "Executable"
		},
		{
			"Path": "$(ProjectDir)/Binaries/Win64/AssetRegistryHelper.pdb",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(ProjectDir)/Binaries/Win64/AssetRegistryHelper-BuildSettings.dll",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(ProjectDir)/Binaries/Win64/AssetRegistryHelper-BuildSettings.pdb",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(ProjectDir)/Binaries/Win64/AssetRegistryHelper-TraceLog.dll",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(ProjectDir)/Binaries/Win64/AssetRegistryHelper-TraceLog.pdb",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(ProjectDir)/Binaries/Win64/AssetRegistryHelper-Core.dll",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(ProjectDir)/Binaries/Win64/AssetRegistryHelper-Core.pdb",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(ProjectDir)/Binaries/Win64/AssetRegistryHelper-Json.dll",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(ProjectDir)/Binaries/Win64/AssetRegistryHelper-Json.pdb",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(ProjectDir)/Binaries/Win64/AssetRegistryHelper-Projects.dll",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(ProjectDir)/Binaries/Win64/AssetRegistryHelper-Projects.pdb",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(ProjectDir)/Binaries/Win64/AssetRegistryHelper-CoreUObject.dll",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(ProjectDir)/Binaries/Win64/AssetRegistryHelper-CoreUObject.pdb",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(ProjectDir)/Binaries/Win64/AssetRegistryHelper-ApplicationCore.dll",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(ProjectDir)/Binaries/Win64/AssetRegistryHelper-ApplicationCore.pdb",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(ProjectDir)/Binaries/Win64/AssetRegistryHelper-AssetRegistry.dll",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(ProjectDir)/Binaries/Win64/AssetRegistryHelper-AssetRegistry.pdb",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(ProjectDir)/Binaries/Win64/AssetRegistryHelper.version",
			"Type": "RequiredResource"
		},
		{
			"Path": "$(ProjectDir)/Binaries/Win64/AssetRegistryHelper.modules",
			"Type": "RequiredResource"
		}
	],
	"RuntimeDependencies": [
		{
			"Path": "$(ProjectDir)/DeadByDaylight.uproject",
			"Type": "UFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/DbgHelp/dbghelp.dll",
			"Type": "NonUFS"
		}
	],
	"AdditionalProperties": [
		{
			"Name": "SDK",
			"Value": "Not Applicable"
		}
	]
}